/* - base - */
body {
  background: url(../img/bg/bg-lines.png);
  background-repeat: repeat-y;
  background-size: initial;
  background-position: center;
  font-family: sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 1254px) {
  .container {
    margin: 0 auto;
    width: 1224px;
    padding: 0;
  }
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relative {
  position: relative;
}
.read-more-link,
a.read-more-link {
  color: #333333;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: none !important;
  position: relative;
  padding-bottom: 10px;
}
.read-more-link::after,
a.read-more-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(93, 168, 239, 0.7);
}
.title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .title {
    font-size: 42px;
  }
}
.desc-text {
  color: rgba(97, 97, 97, 0.6);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.3px;
}
.title-desc {
  color: rgba(97, 97, 97, 0.6);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.3px;
  margin-bottom: 35px;
}
.subtitle {
  display: block;
  color: #5da8ef;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.vertical-text {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  transform: rotate(-90deg) translate(-100%, 0);
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
}
/* - base - */
/* - header - */
.navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1254px) {
  .navigation-wrapper {
    flex-direction: row;
    padding: 41px 0;
  }
}
.nav-logo-wrapper {
  text-align: center;
  width: 100%;
  padding: 30px 0;
}
@media (min-width: 1254px) {
  .nav-logo-wrapper {
    margin-right: 190px;
    padding: 0;
    width: auto;
  }
}
.nav-logo-wrapper-center {
  text-align: center;
  width: 100%;
  padding: 30px 0;
  margin: 0 auto;
}
@media (min-width: 1254px) {
  .nav-logo-wrapper-center {
    padding: 0;
    width: auto;
  }
}
.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'League-Spartan', sans-serif;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header__list {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1254px) {
  .header__list {
    justify-content: flex-start;
    width: auto;
  }
}
.header__list-item {
  text-align: center;
  margin-bottom: 15px;
}
.header__list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header__list-item {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .header__list-item:last-child {
    margin-right: 0;
  }
}
.header__list-link {
  text-transform: uppercase;
  color: rgba(11, 12, 17, 0.9);
  text-decoration: none;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 5px;
  font-family: 'League-Spartan', sans-serif;
  font-weight: 700;
}
.header__list-link:hover {
  text-decoration: none;
}
.nav__account-data {
  margin-top: 20px;
}
@media (min-width: 1254px) {
  .nav__account-data {
    margin-left: auto;
    margin-top: 0;
  }
}
.nav__basket {
  cursor: pointer;
}
.nav__account {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
/* - header - */
.auth-login-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 450px;
  height: calc(100vh - 104px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-login-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
@media (min-width: 1254px) {
  .auth-login-wrapper {
    height: calc(100vh - 126px);
  }
}
.login-wrapper {
  background-image: url(../img/img/beach-login.jpg);
}
.login-wrapper:before {
  background: linear-gradient(360deg, #020024 0%, #090979 0%, #ffffff 100%);
}
.auth-wrapper {
  background-image: url(../img/img/surfboard-auth.jpg);
}
.auth-wrapper:before {
  background: linear-gradient(360deg, #020024 0%, #e4a15d 0%, #ffffff 100%);
}
.auth-login {
  position: relative;
  width: 480px;
  padding: 20px 5px;
  border: 8px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  overflow: hidden;
}
.auth-login::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
  top: 0;
}
.auth-login::before {
  content: '';
  position: absolute;
  height: calc(100% + 16px);
  width: 1px;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  background-color: rgba(128, 128, 128, 0.12);
  z-index: 2;
}
.auth-login__auth::after {
  border: 7px solid #f89129;
}
.auth-login__login::after {
  border: 7px solid #5da8ef;
}
.swipe-login-form {
  position: absolute;
  width: 100%;
  height: calc(100% + 1px);
  z-index: 6;
  background: #fff;
  padding: 5px 10px;
  border: 7px solid #5da8ef;
  display: flex;
  align-items: center;
  bottom: 100%;
  transition: 0.3s bottom;
}
.swipe-login-form .after-registration-thanks {
  margin-top: 10px;
  display: inline-block;
}
.swipe-arr {
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 35px;
  height: 55px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px -3px rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3px;
  cursor: pointer;
}
.swipe-arr__login {
  width: 100%;
  transform: rotate(180deg);
}
.swipe-arr__auth {
  width: 100%;
}
.login-forgot-password {
  display: inline-block;
  color: #2f4b58;
  margin: 10px 0 20px;
  transition: 0.3s;
  padding-bottom: 4px;
  border-bottom: 2px solid #007bff59;
}
.login-forgot-password:hover {
  text-decoration: none;
  color: #5a75a7;
  border-bottom: 2px solid #007bffc0;
}
.auth-login-form {
  position: relative;
  z-index: 4;
  text-align: center;
}
.auth-login-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 27px;
  line-height: 1.4;
  margin: 0 10px;
  text-transform: uppercase;
}
@media (min-width: 1254px) {
  .auth-login-title {
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
  }
}
.auth-login-group-input {
  width: 85%;
  padding: 0 10px;
  margin: 15px auto 18px;
  position: relative;
}
.auth-login-input {
  width: 100%;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
  padding-right: 10px;
  /* в фокусе работаем с lable */
}
.auth-login-input:focus {
  border-bottom: 1px solid #1d85c2;
}
.auth-login-input:focus ~ .auth-login-lable,
.auth-login-input:not(:placeholder-shown) ~ .auth-login-lable {
  top: -12px;
  font-size: 12px;
  color: #d0d8e2;
  line-height: 1;
}
.auth-login-input:not(:placeholder-shown) {
  border-bottom: 1px solid #1d85c2;
  background-color: #e8f0fe;
}
.login-input:not(:placeholder-shown) {
  border-bottom: 1px solid #1d85c2;
  background-color: #e8f0fe;
}
.auth-input:not(:placeholder-shown) {
  border-bottom: 1px solid #b98856;
  background-color: #f8c48f;
}
.auth-login-lable {
  position: absolute;
  top: 0;
  left: 12px;
  color: #9e9e9e;
  z-index: -1;
  transition: 0.3s;
}
.auth-forgot-password {
  display: block;
  color: #382b22;
  margin: 10px 0 20px;
  transition: 0.3s;
}
.auth-forgot-password:hover {
  text-decoration: none;
  color: #a77a5a;
}
.auth-login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1px;
}
.auth-login-button:focus,
.auth-login-button:hover {
  background-attachment: rgba(0, 113, 240, 0.7);
}
.auth-button {
  background-color: #f09439;
}
.login-button {
  background-color: #5684d8;
}
.none {
  display: none;
}
