body {
  background: url(../../img/bg/bg-lines.png);
  background-repeat: repeat-y;
  background-size: initial;
  background-position: center;
  font-family: sans-serif;
}
.container {
  width: 1224px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 41px 0;
}
.logo {
  display: inline-block;
  margin-right: 190px;
}
.header__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__list-item {
  margin-right: 40px;
}
.header__list-item:last-child {
  margin-right: 0;
}
.header__list-link {
  text-transform: uppercase;
  color: rgba(11, 12, 17, 0.9);
  text-decoration: none;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 5px;
  font-family: 'League-Spartan', sans-serif;
  font-weight: 700;
}
@font-face {
  font-family: 'League-Spartan';
  src: url('League-Spartan-Bold.ttf.woff') format('woff'), url('League-Spartan-Bold.ttf.svg#League-Spartan-Bold') format('svg'), url('League-Spartan-Bold.ttf.eot'), url('League-Spartan-Bold.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
.slide-item {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.slide-item__descr {
  max-width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slide-item__heading {
  color: #0b0c11;
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.2;
}
.slide-item__heading span {
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgba(93, 168, 239, 0.9);
  display: block;
  margin-bottom: 20px;
}
.slide-item__text {
  color: #8f8f8f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.07;
  max-width: 390px;
  margin-bottom: 15px;
}
.slide-item__text p {
  margin: 0;
}
.slide-item__img {
  width: 1016px;
  height: 572px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-item__img--bg-1 {
  background-image: url(../../img/img/img-header.jpg);
}
