// font-family: 'Fira Sans', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'League-Spartan', sans-serif;

body {
    background: url(../../img/bg/bg-lines.png);
    background-repeat: repeat-y;
    background-size: initial;
    background-position: center;
    font-family: sans-serif;
}

.container{
    width: 1224px;
    margin: 0 auto;
}