/* - club description - */

.club-description{
    padding-top: 110px/2;
    padding-bottom: 95px/2;
    
    @media (min-width: 1254px) {
        padding-top: 110px;
        padding-bottom: 95px;
    
    }
}

.club-description--wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.club-description__img{
    width: 70%;

    @media (min-width: 1254px) {
        width: auto;
    }
}




.club-description-video{
    position: absolute;
    right: 0;
    top: 43px;
    z-index: 1;  
    width: 60%;  

    @media (min-width: 1254px) {
        width: auto;
    }
}

.club-description-video__control{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
    background-color: #5da8ef;
    border-radius: 60px;
    cursor: pointer;
    
    @media (min-width: 1254px) {
        width: 68px;
        height: 68px;
    }

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -50%);
        width: 35%;

        @media (min-width: 1254px) {
            width: auto;
        }
    }
}

.club-description__text{
    margin-top: 90px;
    margin-bottom: 0;
    max-width: 450px;
    .desc-text;

    @media (min-width: 885px) and (max-width: 1254px) {
        max-width: 300px;
    }
    
    @media (min-width: 1254px) {
        max-width: 340px;
        margin-bottom: 45px;
        margin-top: 60px;
        margin-left: 115px;
    }
}

.club-description__link{
    width: max-content;

    @media (min-width: 1254px) {
        margin-left: 115px;
    }
}

// modal video

.modalWrapperVideo{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(11, 12, 17, 0.2);
}

.modal-block-video{
    display: block;
    border-radius: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
    max-width: 96%;
    overflow: hidden;
}

.modal-block-video iframe{
    max-width: 100%;
}

.modal-close-video{
    display: block;
    text-align: right;
    padding: 5px 25px;
    border: 1px solid #5191ce;
    margin-left: auto;
    background: #5da8ef;
    color: #eaeae2;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 10px;
    margin-left: auto;
}


/* - club description - */